

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

h1{
    font-size: 10em;
    color: white;
    z-index: 2;
    transform: skewY(15deg);
    text-shadow: -2px 2px 10px white;
    width: fit-content;
    height: fit-content;
    
}

.index_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100vw;
}

.index_ul li {
    color: white;
    font-size: 3em;
}

a{
    text-decoration: none;
}

#fond_espace{
    background-image: url(image/night.png);
    height: 90vh;
    width: 100vw;
    background-color: black;
}

#fond{
    background-color: blue;
}