
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "lemon milk";
    src: url(fonts/lemon_milk/LEMONMILK-Regular.otf) format("opentype");
}

body{
    background-color: #2e6f40;
}


header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

header span{
    color: #50C878;
    text-shadow: 1px 1px 1px #000000,
        1px 2px 1px #000000,
        1px 3px 1px #000000,
        1px 4px 1px #000000,
        1px 5px 1px #000000,
        1px 6px 1px #000000,
        1px 7px 1px #000000,
        1px 8px 1px #000000,
        1px 9px 1px #000000,
        1px 10px 1px #000000,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    width: fit-content;
}

header h1{
    font-family: "lemon milk";
    font-size: 10em;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    width: fit-content;
    height: fit-content;
    text-transform: uppercase; 
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 100vw;
}

header nav ul li {
    color: white;
    font-size: 3em;
    font-family: "lemon milk";
}

a{
    text-decoration: none;
}

a:hover{
    background-color: #bbb791;
}

p{
    font-size: 4em;
    font-family: "Fanwood Text";
}

main header{
    background-color: #bbb791;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

main section article{
    margin: 10px;
    border-radius: 20px;
    background-color: #bbb791;
    display: flex;
    justify-content: center;
    padding: 15px;
    height: fit-content;
}

main section article ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100vw;
}

main section article ul li{
    font-size: 3em;
    list-style: none;
}

h2{
    text-align: center;
    font-size: 6em;
    letter-spacing: 5px;
    font-family: "lemon milk";
    color: #bbb791;
}
